* {
  box-sizing: border-box;
}

:root {
  --error: #ef4444;
  --success: #84cc16;
  --warning: #facc15;
}

body {
  margin: 0;
  background: radial-gradient(circle, rgba(102,0,97,1) 0%, rgba(0,0,0,1) 95%);
  font-family: "Quicksand", sans-serif;
  color: white;
}

input, button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}
