* {
  box-sizing: border-box;
}

:root {
  --error: #ef4444;
  --success: #84cc16;
  --warning: #facc15;
  --primary: #be185d;
  --primary-darker: #af0051;
  --primary-lighter: #db2777;
  --secondary: #ff87b7;
}

/* TOAST */
:root {
  --toastify-text-color-error: oklch(0.444 0.177 26.899);
  --toastify-text-color-info: oklch(0.424 0.199 265.638);
  --toastify-text-color-success: oklch(0.448 0.119 151.328);
  --toastify-text-color-warning: oklch(0.473 0.137 46.201);

  --toastify-color-error: oklch(0.885 0.062 18.334);
  --toastify-color-info: oklch(0.882 0.059 254.128);
  --toastify-color-success: oklch(0.925 0.084 155.995);
  --toastify-color-warning: oklch(0.924 0.12 95.746);

  --toastify-color-transparent: currentColor;

  --toastify-font-family: "Quicksand", sans-serif;
}

.Toastify__close-button {
  color: oklch(0.551 0.027 264.364)
}



body {
  margin: 0;
  background: black;
  font-family: "Quicksand", sans-serif;
  color: white;
}

input, button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

button {
  background-color: transparent;
  border: none;
  color: white
}

#app {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

a {
  color: oklch(0.936 0.032 17.717)
}

.text-xs {
  font-size: 0.75rem; /* 12px */ 
  line-height: calc(1 / 0.75);
}

.text-sm {
  font-size: 0.875rem; /* 14px */ 
  line-height: calc(1.25 / 0.875);
}

.text-lg {
  font-size: 1.125rem; /* 18px */ 
  line-height: calc(1.75 / 1.125);
}

.text-xl {
  font-size: 1.25rem; /* 20px */ 
  line-height* calc(1.75 / 1.25);
}