.ping:hover {
  transform-style: preserve-3d;

  &::before {
    width: 100%;
    height: 100%;
    border-radius: inherit;

    transform: translateZ(-1px);

    position: absolute;

    content: "";
    box-shadow: currentColor 0 0 0 0;

    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

@keyframes ping {
  75%,
  100% {
    box-shadow: transparent 0 0 0 20px;
  }
}